*{margin: 0px; padding: 0px;}
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');
body{font-family: "Bitter", serif;}
.bg-top{
    background: #450920;
}
.headerWrapper .top-strip{padding: 8px 0px;}
.headerWrapper .top-strip p{color: #fff; font-size: 15px;}

.headerWrapper .header{width: 100%; height: auto; padding: 10px 0px 0px 0px;}
.logoWrapper img{width: 100%;}

header .headerSearch{width: 80%; height: 50px; background: #fff6e7; padding: 10px; position: relative; border-radius: 10px;}
header .headerSearch input{background: transparent !important; outline: none !important;
font-size: 15px; color: rgba(0,0,0,0.8); width: 100%; height: 35px; border: 0px !important;
padding: 0px 25px;}
header .headerSearch button{position: absolute; top: 7px; right: 15px; z-index: 100; border: 0px;
min-width: 35px; height: 35px; width: 35px; border-radius: 50%; color: #450920; background: #fff6e7;}
header .headerSearch button svg{
    font-size: 22px;
}
header .headerSearch button:hover {
    background-color: #F9DBBD;
}
header .part3 .usericon{
    align-items: center; justify-content: center; min-width: 50px; width: 50px; height: 50px; border-radius: 50%; border: 0px;
    background: none;
}
header .part3 .usericon svg{
    font-size: 30px;
    color: #381818;
}
header .part3 .usericon svg:hover{
    color: #A53860;
}
.cartTab .count{
    position: absolute; top: -3px; right: -4px; background: #DA627D; border-radius: 50%;
    color: #fff; width: 18px; height: 18px; font-size: small;
}
nav {
  padding-bottom: 0;
  margin-bottom: 0;
}

nav .categories {
  margin-bottom: -1px; /* Pull buttons down to touch the <hr> */
}

nav hr {
  margin-top: 0;
}
nav .main-btn {
  background: #ffffff;
  padding: 8px 30px;
  border: 1px solid #e7e7e7;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-block; /* <-- Add this line */
  position: relative; /* required for ::after underline */
}

nav .main-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #450920;
  transition: all 0.3s ease;
  transform: translateX(-50%);
  display: inline-block; 
}

nav .main-btn:hover::after {
  width: 100%;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav ul li{
  position: relative;
}
nav .dropdown-wrapper {
  position: relative;
}
nav .dropdown_menu{
  position: absolute; top: 50px; left: 0px; width: 250px; height: auto; background: #fff;
  box-shadow: 5px 5px 15px rgba(186, 186, 186, 0.5); border-radius: 5px; padding: 10px 0px; z-index: 100;
}

nav .dropdown_menu li{
  width: 100%;
  margin: 5px 0;
}
nav .dropdown_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
nav .dropdown_menu li button{
  width: 100%; text-align: left !important; justify-content: flex-start;
}
nav .dropdown_menu li button:hover{
  background: #fff7ee;
}
nav .dropdown_menu li button a{
  width: 100%;
  color: #000;
}
nav .dropdown_menu li button a:hover {
  color: #DA627D; text-decoration: none;
}
.homeBannerSection *{
  outline: none;
}
.homeBannerSection{
  position: relative;
  overflow: hidden;
}
.homeProducts .info h3{
  padding-top: 24px;
}
.productItem{
  width: 100%; height: auto; border: 1px solid rgba(0,0,0,0.1);
}

.close_{
  position: absolute; top: 10px; right: 10px; color: #000; min-width: 40px !important;
  width: 40px !important; height: 40px !important; border-radius: 50% !important;
}
.close_ svg{
  font-size: 22px;
}

.productModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
}